{{#link-to 'question' question.id}}
  <li>
    {{question.author}}: {{question.subject}}, {{question.body}}
    <!-- <button {{action 'delete' question}}>Delete Question</button> -->
  </li>
{{/link-to}}
